<div class="today text">
        <button>
            <div id="todayDate">08/27 Thu</div>
        </button>
        <button><img class='icon' id='notiBell' src='img/notiBell2.png'></button>
        <button><img class='icon' id="createSlot" src='img/createSlot.png'></button>
        <button data-toggle="modal" data-target="#deleteModal"><img class="icon" id="todayDel" src="img/delete.png">
        </button>
        <button><img class="icon" id="todayEdit" src="img/edit.png"></button>
    
        <div class='todayEvents'>
                     

<!--            <br><br><br><br><br><br>-->
        </div>
</div>


<div class='page monthView'>  
    <div>
        <button><img class='icon back' src='img/back2.png'></button>
        <input type="mext" id='selectMonth' class='normalt'>
    </div>
        <div class='monthBar text'>
            <div class='planetDays'>Sun</div>
            <div class='planetDays'>Mon</div>
            <div class='planetDays'>Tue</div>
            <div class='planetDays'>Wed</div>
            <div class='planetDays'>Thu</div>
            <div class='planetDays'>Fri</div>
            <div class='planetDays'>Sat</div>
            <br>
        </div>
        <div class='dayInfo'>
            <div class='dayCard'>
                <div class='monthDate'>1</div>
                <div class='monthEvent'>Converge</div>
                <div class='monthEvent'>Converge</div>
                <div class='monthEvent'>Converge</div>
                <div class='monthEvent'>Converge</div>
            </div>
            <div class='dayCard blue5'><div class='monthDate'>2</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div></div>
            <div class='dayCard'><div class='monthDate'>3</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div></div>
        </div>
    </div>

<script id="resultDayTp" type="text/x-handlebars-template">
    \{{#each this}}
        <div class="timeSlot">
            <p>\{{start_time}} - \{{end_time}}</p>
            <button>
                <div class="timeCard" style='border-color: \{{color}};'>\{{title}}</div>
            </button>
        </div><br>
    \{{/each}}
</script>

<script>

function testView() {
    var i;
    for (i=1; i<30; i++){
    $('.dayInfo').append("<div class='dayCard'><div class='monthDate'>" + i + "</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div><div class='monthEvent'>Converge</div></div> ");
    }
}
</script>