<div class='meetInfoPage page leftPage text' style="display: inline-block">
    <div class='genBar' style="text-align: center;">
        <p class="title">Edit Preference(s)</p>
        <button><img class='icon' id='back' src='img/back.png'></button>
        <button><img class='icon' id='ok' src='img/ok.png'></button>
    </div> 
<!--

    <div class='info meetInfo'>
        <br><br>
        <p class="labelt">Label text</p>
        <p class="normalt">Normal text</p>
        <p class="nonimpt">Non-important text</p>
        <div class="participants" style="width: 100%; height: auto; text-align: center; padding: 1vh 0;">
            <div class="circle blue1"></div>
            <div class="circle blue2"></div>
            <div class="circle blue3"></div>
            <div class="circle blue4"></div>
        </div>
        <button class='dbutton'>Deactivated</button><br><br>
        <button class='lbutton'>Less Primary</button><br><br>
        <button class='pbutton'>Primary Button</button>
    </div>  
-->
     
        
<!--
    Important!!!!
    Please write your css in this file like below, so it's easier for you to debug:
    <div class="participants" style="width: 100%; height: auto; text-align: center; padding: 1vh 0;">
-->
    
    
    
</div>