/*fonts*/

.title {
    font-family: 'Roboto';
    color: white;
    margin-top: .7vw;
    font-size: 1.5vw;
    font-weight: 400;
}

.colort {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.7vw;
    color: #5986fd;
}

.normalt {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: calc(.8vw + 3px);
    color: black;
}

.nonimpt {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: calc(.6vw + 3px);
    color: darkgray;
}

/*layouts*/

.page {
    display: inline-block;
    position: fixed;
    background: white;
    box-shadow: 0 2px 4px rgb(0,0,0,.4);
    display: none;
    width: 22vw;
    height: calc(22vw + 200px);
}

.rightPage {
    z-index: 800;
    right: 8.5%;
    top: 10%;
    position: fixed;
}

.leftPage {
    z-index: 800;
    left: 8.5%;
    top: 10%;
    position: fixed;
}

.editBar, .genBar {
    display: inline-block;
    background-color: #5986FD;
    width: 100%;
    height: 3.5vw;
    text-align: center;
}

#editDel, #setting {
    position: absolute;
    right: 0;
    top: 0;
}

.back {
    position: absolute;
    left: -2px;
    top: 0;
}

.info {
    position: absolute;
    top: 3.5vw;
    height: calc(11.5vw + 280px);
    width: 100%;
    padding: 1.3vw 2.2vw 0 2.2vw;
    overflow: scroll;
}

/*elements*/

.circle {
    border-radius: 50%;
    background: #5986fd;
    width: 3.5vw;
    height: 3.5vw;
    display: inline-block;
    margin: 0 .25vw;
}

.icon {
    width: 3.5vw;
}

.dbutton {
    border: 1px solid lightgray;
    color: #bdbdbd;
    background: white;
    border-radius: 3vw;
    width: auto;
    height: auto;
    padding: .4vw 1.5vw;
    font-family: 'Roboto';
    font-size: 1.2vw;
    font-weight: 400;
}

.lbutton {
    border: 1px solid #5986fd;
    color: #5986fd;
    background: white;
    border-radius: 3vw;
    width: auto;
    height: auto;
    padding: .4vw 1.5vw;
    font-family: 'Roboto';
    font-size: 1.2vw;
    font-weight: 400;
    cursor: pointer;
}

.pbutton {
/*    border: 1px solid #5986fd;*/
    color: white;
    background: #5986fd;
    border-radius: 3vw;
    width: auto;
    height: auto;
    padding: .4vw 1.5vw;
    font-family: 'Roboto';
    font-size: 1.2vw;
    font-weight: 400;
    cursor: pointer;
}

/*color theme*/

.blue1 {
    background: #5986fd;
}

.blue2 {
    background: #93b0fe;
}

.blue3 {
    background: #c5d5fe;
}

.blue4 {
    background: #e6edff;
}

@media (max-width: 480px) {

    /*fonts*/
    .title {
        margin-top: 2.5vw;
        font-size: 7vw;
    }

    .normalt {
        font-size: 5vw;
    }
    
    .colort {
        font-size: 10vw;
    }
    
    .nonimpt {
        font-size: 3.5vw;
    }

    /*layouts*/
    
    .page {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .editBar, .genBar {
        height: 15vw;
    }

    .info {
        top: 15vw;
        height: 90vh;
        padding: 4vw 10vw;
    }

    /*elements*/

    .circle {
        width: 16vw;
        height: 16vw;
        margin: 0 1vw;
    }

    .icon {
        width: 15vw;
    }

    .dbutton, .lbutton, .pbutton {
        border-radius: 6vw;
        padding: 1.5vw 6vw;
        font-size: 5.5vw;
    }
  

}
