/*
.title {
    color: white; 
    margin-top: -2.5vh; 
    font-weight: 800;
}

.participants {
    background: red; 
    width: 100%; 
    height: 15%;
}


.participants .circle

.circle {
    border-radius: 50%;
    background: #5986fd;
    width: 7vh;
    height: 7vh;
}

.green {
    background: green;
}
*/


